
.profile{
    width: 70%;
    margin: 0 auto;
    background-color: #292420;
    border-radius: 0.3rem;
    padding: 3rem;
    font-size: 1.6rem;
    color: azure;
    margin-bottom: 1rem;
    word-break: break-all;
}

.profile__img{
    border-radius: .3rem;
    min-width: 200px;
    width: 50%;
}

.profile__link{
    color: azure;
}