.SearchBar{
    padding: 1rem;
}
.txtInpt{
    padding: 1rem 1rem;
    margin: 1rem;
    border: none;
    border-bottom: 0.3rem solid purple;
    width: 70%;
    font-size: 1.2rem;
}

.txtInpt:focus{
    border-bottom: 0.3rem solid purple;
    outline: none;
}

.btn-dark{
    height: 50px;
}