.SearchBar{
    padding: 2rem;
}
.txtInpt{
    padding: 1rem 1rem;
    margin: 1rem;
    border: none;
    border-bottom: 0.3rem solid purple;
    width: 50%;
    font-size: 2rem;
}

.txtInpt:focus{
    border-bottom: 0.3rem solid purple;
    outline: none;
}

.btn-dark{
    height: 50px;
}